<app-container>
	<mat-card>
		<form [formGroup]="cadastroForm">
			<mat-card-title>
				Crie sua conta
			</mat-card-title>
			@if (perfilComponent) {
				<section>
					<div class="acoesPerfil">
						<h2>Dados pessoais</h2>
						<button mat-stroked-button color="primary">
							<mat-icon>logout</mat-icon>
							DESLOGAR
						</button>
					</div>
				</section>
			}
			<mat-card-content>
				<div class="grid-container">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Nome</mat-label>
						<input matInput formControlName="nome" placeholder="Nome">
						@if (cadastroForm.get('nome')?.errors?.['required']) {
						<mat-error>Nome é obrigatório</mat-error>
						}
					</mat-form-field>
					<div class="grid-item">
						<mat-form-field appearance="outline">
							<mat-label>Data de Nascimento</mat-label>
							<input matInput formControlName="nascimento" [matDatepicker]="nascimento"
								placeholder="Data de Nascimento">
							<mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
							<mat-datepicker #nascimento></mat-datepicker>
							@if (cadastroForm.get('nascimento')?.errors?.['required']) {
							<mat-error>Data de Nascimento é obrigatória</mat-error>
							}
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>CPF</mat-label>
							<input matInput formControlName="cpf" placeholder="Digite seu CPF">
							@if(cadastroForm.get('cpf')?.errors) {
							<mat-error>CPF é obrigatório</mat-error>
							}
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Cidade</mat-label>
							<input matInput formControlName="cidade" placeholder="Digite sua cidade">
							@if(cadastroForm.get('cidade')?.errors) {
							<mat-error>Cidade é obrigatória</mat-error>
							}
						</mat-form-field>
					</div>
					<div class="grid-item">
						<div class="radio-group">
							<label>Gênero</label>
							<mat-radio-group formControlName="genero" color="primary">
								<mat-radio-button value="feminino">Feminino</mat-radio-button>
								<mat-radio-button value="masculino">Masculino</mat-radio-button>
								<mat-radio-button value="outro">Prefiro não informar</mat-radio-button>
							</mat-radio-group>
						</div>
						<mat-form-field appearance="outline">
							<mat-label>Telefone</mat-label>
							<input matInput formControlName="telefone" placeholder="+XX XXXX-XXXX">
							@if(cadastroForm.get('telefone')?.errors) {
							<mat-error>Telefone é obrigatório</mat-error>
							}
						</mat-form-field>
						<app-dropdown-uf label="Estado" placeholder="Estado" [control]="estadoControl">
						</app-dropdown-uf>
						@if(estadoControl.errors && estadoControl.touched) {
						<mat-error>Estado é obrigatório</mat-error>
						}
					</div>
				</div>
			</mat-card-content>
			@if (perfilComponent) {
				<mat-divider></mat-divider>
				<div class="acessoPerfil">
					<h2>Dados de acesso</h2>
				</div>
			}
			<mat-card-content>
				<div class="grid-container">
					<div class="grid-item">
						<mat-form-field appearance="outline">
							<mat-label>E-mail</mat-label>
							<input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
							@if(cadastroForm.get('email')?.errors?.['required']) {
							<mat-error >E-mail é obrigatório</mat-error>
							}
							@if(cadastroForm.get('email')?.errors?.['email']) {
							<mat-error >E-mail inválido</mat-error>
							}
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Senha</mat-label>
							<input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
							@if(cadastroForm.get('senha')?.errors?.['required']) {
							<mat-error>Senha é obrigatória</mat-error>
							}
							@if(cadastroForm.get('senha')?.errors?.['minlength']) {
							<mat-error>Senha deve ter pelo menos 3 caracteres</mat-error>
							}
						</mat-form-field>
					</div>
					<div class="grid-item">
						<mat-form-field appearance="outline">
							<mat-label>Confirmar E-mail</mat-label>
							<input matInput formControlName="confirmarEmail" placeholder="Digite seu e-mail novamente">
							@if(cadastroForm.get('confirmarEmail')?.errors?.['required']) {
							<mat-error>Confirmação de E-mail é obrigatória</mat-error>
							}
							@if(cadastroForm.get('confirmarEmail')?.errors?.['email']) {
							<mat-error>E-mail inválido</mat-error>
							}
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Confirmar Senha</mat-label>
							<input matInput formControlName="confirmarSenha" type="password"
								placeholder="Repita sua senha">
							@if(cadastroForm.get('confirmarSenha')?.errors?.['required']) {
							<mat-error>Confirmação de Senha é obrigatória</mat-error>
							}
						</mat-form-field>
					</div>
				</div>
				<mat-checkbox formControlName="aceitarTermos" color="primary" class="full-width">Li e aceito os termos e
					condições deste cadastro *</mat-checkbox>
				@if(cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty) {
				<mat-error>
					Você precisa aceitar os termos e condições para efetuar o cadastro
				</mat-error>
				}
			</mat-card-content>
			<mat-card-actions class="full-width">
				<button
					(click)="executarAcao()"
				 	mat-flat-button [disabled]="cadastroForm.invalid"
				  	color="primary">CADASTRAR
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</app-container>
