<footer>
  <app-container>
    <div class="content">
      <img src="../../../assets/Logo/Logo-branco-com-tagline.png" alt="logo da aplicação jornada milhas">
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
    <div class="media">
      <p>Acesse nossas redes:</p>
      <div class="media-imgs">
        <a href="#"><img src="../../../assets/Ícones/Whatsapp 1 (2).png" alt="Icone do Whatsapp"></a>
        <a href="#"><img src="../../../assets/Ícones/Instragam 1 (2).png" alt="Icone do Instragam"></a>
        <a href="#"><img src="../../../assets/Ícones/Twiter 1 (2).png" alt="Icone do Twiter"></a>
      </div>
    </div>
  </app-container>
</footer>
